{% extends "base.html" %}
{% load static %}
{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}

    <h1>Привет, я автор</h1>
    <div class="container py-3">
    <ul>
        <li>
        <h5>O себе:</h5><p>-проживаю в Москве. Занимаюсь спортом, чтением книг, учебой<br></p>
        <p>- летом был в <a>Хорватии</a>. Божественное место с божественным морем<br></p>
        <p> - поймал морского ежа. Замучал его. Огребал от своей девушки<p/>
        </li>
    </ul>
    </div>
    <div class="container py-3">
      <ul>
        <li>
          <h5>Увлечения:</h5>
          <p> - бег <br></p>
          <p> - велосипед <br></p>
          <p> - плаванье <br></p>
        </li>
      </ul>
    </div>
    <div class="container py-3">
      <ul>
        <li>
          <h5>Цель:</h5>
          <p> - доработать проект <br></p>
        </li>
      </ul>
    </div>
{% endblock %}
